@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


$text: black;
$accent: cyan;
$bg: #dcdcdc;
$card-bg: white;
$text_subt: #3e3e3e;
@media(prefers-color-scheme: dark){
  $card-bg: #000038;
  $bg: black;
  $text: white;
  $text_subt: #acacac;
}